<p>-- Blockchain Error Report (technical)--</p>

<p>Taker order Id: {{takerOrderId}}</p>
<p>Maker order Id(-s): {{makerOrderIds}}</p>
<hr>
<p>Error message: {{errorMessage}}</p>

<p>Please, check logs for more details</p>