.chart-page {
  background: transparent !important;
  border-color: transparent;
}

.chart-page .chart-container {
  background: transparent;
  border-color: rgba(119, 121, 145, 0.3);
}

.group-wWM3zP_M- {
  color: #777991 !important;
  cursor: pointer;
  background: rgba(119, 121, 145, 0.1);
  border-radius: 3px;
  margin-left: 10px;
}

.group-wWM3zP_M-:nth-last-child(2) > div {
  padding: 0;
  margin: 0;
}

.button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9-,
.button-13wlLwhJ-.isOpened-1939ai3F- {
  background: rgba(119, 121, 145, 0.2);
}

.pane-legend-line .main {
  display: none !important;
}

.pane-legend-line .main + span {
  display: none !important;
}

/* spacer in header buttons */
.fill-2axUON87- {
  /* display: none !important; */
  background: transparent;
}

.wrap-3tiHesTk- {
  justify-content: flex-end;
  height: 30px;
}

.button-13wlLwhJ-,
.button-2ioYhFEY-.isInteractive-20uLObIc- {
  color: #777991 !important;
  cursor: pointer;
}

.chart-controls-bar {
  background: transparent;
}

.chart-controls-bar-buttons a {
  color: #777991;
}

.chart-controls-bar-buttons a:before {
  border-color: rgb(119, 121, 145, 0.8);
}

.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
  background: transparent;
}

.js-goto-date-btn {
  display: none !important;
}

/* #header-toolbar-symbol-search {
  display: none !important;
}

.wrap-3tiHesTk- > *:first-child {
  display: none !important;
} */

.tv-dialog {
  border-radius: 5px;
}

._tv-button {
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

._tv-button.ok {
  background: #f8165b;
}

.feature-no-touch ._tv-button.ok:hover {
  background: #cc1049;
}

._tv-dialog {
  border: 0;
  border-radius: 5px;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.properties-tabs a.properties-tabs-label.active:after {
  background: #f8165b;
}

._tv-dialog .main-properties {
  height: auto !important;
}

body,
.chart-container .chart-controls-bar,
#footer-chart-panel {
  background: transparent !important;
}

.button-263WXsg-- .icon-1Y-3MM9F- {
  color: #777991;
}

.button-263WXsg-- .icon-1Y-3MM9F-.hovered--MYZioUu-,
.feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:active,
.feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:hover,
.feature-touch .button-263WXsg-- .icon-1Y-3MM9F-:active {
  color: #777991;
  cursor: pointer;
}

.button-263WXsg--.isActive-2mI1-NUL- .icon-1Y-3MM9F- {
  color: #f8165b !important;
}

.group-2JyOhh7Z-,
.drawingToolbar-U3_QXRof-,
.inner-1xuW-gY4- {
  background: transparent !important;
}

.scrollBot-2HHpZNuf-.isVisible-3zZOL3TO- {
  bottom: 6px;
}

.scrollTop-1eXi8ltS-,
.scrollBot-2HHpZNuf- {
  border-radius: 4px;
  cursor: pointer;
}

._tv-dialog-content textarea {
  height: 100px !important;
}

.tv-tabbed-dialog {
  border-radius: 4px;
}
