body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 95%;
}
.align-items {
  align-items: center;
}

#main-header {
  background: #2e345c;
  background-image: url(../images/header-background.jpg);
  background-size: 100% 100%;
}

.top-navigation {
  padding: 0px;
  margin: 0px;
  text-align: right;
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
}

.top-navigation li {
  display: inline-block;
  height: 58px;
}
.top-navigation li.big-menu a {
  width: 175px;
  text-align: center;
}
.top-navigation li a {
  color: white;
  width: 130px;
  text-align: center;
  line-height: 15px;
  display: block;
  margin-left: -4px;
  height: 60px;
  position: relative;
  margin-bottom: -5px;
  top: 4px;
  z-index: 999999999;
  margin-top: -4px;
}
.top-navigation li a span {
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  left: 50%;
}

.top-navigation li a:hover,
.top-navigation li.active a {
  background: #151829;
  text-decoration: none;
  background: #151829;
  background: -moz-linear-gradient(top, #151829 0%, #262a44 100%);
  background: -webkit-linear-gradient(top, #151829 0%, #262a44 100%);
  background: linear-gradient(to bottom, #151829 0%, #262a44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151829', endColorstr='#262a44',GradientType=0 );
  border-bottom: 2px solid #4d908a;
}

.top-navigation-container hr {
  border-color: #67dfb3;
  border-width: 2px;
  margin: 0px;
  position: relative;
  z-index: 0;
}

.logo-container {
  padding: 10px 0px;
}
.logo-container img {
  max-width: 320px;
}

ul.main-navigation {
  margin: 0;
  padding: 0;
  text-align: right;
}

ul.main-navigation li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
ul.main-navigation li.en-menu span {
  position: relative;
  top: 6px;
}

ul.main-navigation li a {
  display: block;
  padding: 10px 20px;
  color: #67dfb3;
  text-align: center;
  height: 60px;
  font-size: 18px;
  width: 130px;
}

ul.main-navigation li.big-menu a {
  width: 168px;
}

ul.main-navigation li a .join {
  display: block;
  font-size: 10px;
}
ul.main-navigation li .soon {
  display: block;
  color: #f7175c;
  font-size: 14px;
  line-height: 14px;
}
ul.main-navigation li .text {
  display: block;
  line-height: 16px;
  height: 40px;
}

ul.main-navigation li a:hover {
  text-decoration: none;
  opacity: 0.8;
}
ul.main-navigation li.enable a {
  border: 1px inset #b4a2a25e;
  border-top: none;
  margin-left: -5px;
}

ul.main-navigation li.enable:last-child a {
  border-right: none;
}

.introduction-container {
  padding: 120px 0px 40px;
  background-image: url(../images/introduction-background.jpg);
  background-size: 100% 100%;
}

.introduction-container .introduction {
  color: white;
}

.introduction-container .introduction h1 {
  color: #67dfb3;
  font-size: 56px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: bolder;
}
.introduction-container .introduction h1 span {
  display: block;
}
.introduction-container .introduction .action a {
  padding: 14px 18px;
  border-left: 6px solid #67dfb3;
  color: #fdfcfc;
  border-bottom: 1px inset rgba(180, 162, 162, 0.36);
  font-weight: bolder;
  font-size: 22px;
}
.introduction-container .introduction .action a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.introduction-container .introduction .action {
  margin-top: 60px;
}
.introduction-container .introduction p {
  font-size: 20px;
  width: 100%;
  color: #e7e8ee;
}

.subcription-container {
  position: absolute;
  bottom: -115px;
  right: 0px;
  width: 320px;
}

.subcription-container input {
  display: block;
  background: #4d918b;
  border: none;
  padding: 7px 10px;
  margin-bottom: 5px;
  color: #2f355d;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  font-size: 18px;
}
.subcription-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2f355d;
  opacity: 1; /* Firefox */
}

.subcription-container input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2f355d;
}

.subcription-container input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2f355d;
}

.subcription-container button {
  background: transparent;
  color: #4d918b;
  display: block;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 10px;
  text-align: left;
  font-weight: bolder;
  font-size: 18px;
}
.subcription-container button:hover {
  background: white;
  transition: all 0.3s;
  color: #2f355d;
  cursor: pointer;
}

.subcription-container button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.subcription-container__error {
  color: #f7175c;
}

.introduction-container.introduction-how-it-works-container {
  padding-top: 0;
  background-image: url(../images/how-it-works-background.jpg);
}

.introduction-container.introduction-how-it-works-container h2 {
  font-size: 56px;
  font-weight: bolder;
}

.other-features-container .container {
  margin: 0px;
  max-width: 95%;
  margin: 0 auto;
}
.other-features-container {
  padding: 50px 0px;
  text-align: center;
}

.other-features-container a {
  color: #f8195d;
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 40px;
  padding: 15px;
  border: 1px solid #f8195d;
  border-radius: 5px;
}

.other-features-container a img {
  transition: transform 0.2s;
  width: 50px;
}

.other-features-container a:hover img {
  transform: scale(1.05);
}

.other-features-container h2 {
  font-size: 40px;
  color: #2e345c;
  margin: 50px 0 0;
  font-weight: bolder;
}
.other-features-container img {
  margin: 0px 0px 0px;
}
.other-featured-border:after {
  content: "";
  height: 125%;
  width: 1px;
  background: #2f345c99;
  position: absolute;
  right: 0px;
  top: -32px;
}
.other-features-container p {
  width: 75%;
  margin: 0 auto;
}

.price-tickers-container .currency {
  display: block;
  position: relative;
  font-weight: bolder;
  font-size: 25px;
  color: #f9f9f9;
}
section.section.section-price-tickers {
  background: #2e345c;
  color: white;
  padding: 30px;
  background-image: url(../images/ticker-background.jpg);
  background-size: 100% 100%;
}

section.section.section-price-tickers .price-ticker .ticker {
  width: 200px;
}

section.section.section-price-tickers .container {
  padding: 0px;
  margin: 0px;
  text-align: center;
  max-width: 100%;
}
section.section.section-price-tickers .container {
  position: relative;
  top: 70px;
}

.price-ticker {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.price-ticker > div:not(.currency) {
  text-align: left;
  width: 60%;
  overflow: hidden;
}

.price-ticker > div:not(.currency) span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-ticker > .currency {
  width: 40%;
}

.price-tickers-container .price,
.price-tickers-container .price-market-capital {
  font-size: 16px;
  display: block;
  color: #c2c4cd;
}

.price-tickers-container .price {
  margin-top: 6px;
  display: block;
  font-size: 16px;
  color: #c2c4cd;
}
.price-tickers-container .price-change {
  font-size: 21px;
}
.price-tickers-container .row {
  position: relative;
}
.price-tickers-container .row:after {
  content: "";
  height: 56px;
  width: 1px;
  background: #21274c;
  position: absolute;
  top: 7px;
  left: 30px;
}
.price-tickers-container .row > div {
  padding: 0px;
}
.price-tickers-container > div:first-child:after {
  display: none;
}

.section-why-and-submit {
  background-image: url(../images/gradient-background.jpg);
  background-size: 100% 100%;
}
.introduction-container.introduction-why-container {
  background: transparent;
}

.introduction-container.introduction-why-container h2 {
  font-size: 60px;
  margin: 15px 0px 50px;
  color: #f6f6f8;
  font-weight: bolder;
}

.introduction-container.introduction-why-container h2 strong {
  color: #f8165b;
}

.introduction-container.introduction-why-container img {
  min-width: 500px;
  display: block;
  margin: 0 auto;
}

.submit-token-container {
  padding: 110px 0px 140px;
}

.submit-token-container .action {
  text-align: center;
  margin: 0 auto 50px;
}
.submit-token-container .action a {
  background: #2e345c;
  color: white;
  border-radius: 5px;
  padding: 10px 60px;
  display: inline-block;
}
.submit-token-container .action a:hover {
  background: #3d4fc2;
  text-decoration: none;
}
.submit-token-container h2 {
  color: white;
  font-size: 60px;
  margin: -15px 0px 15px;
}
.submit-token-container p {
  font-size: 22px;
  color: #142825;
}

#main-footer {
  background: #070707;
  color: white;
  padding: 40px 0px;
}
#main-footer h2 {
  font-size: 20px;
}
#main-footer a {
  color: white;
}
#main-footer .img-fluid {
  max-width: 133px;
}
#main-footer ul {
  padding: 0px;
}
#main-footer li {
  list-style-type: none;
}
#main-footer li a {
  color: #4a4a4a;
  font-size: 17px;
}

.social-media-container ul {
  text-align: center;
  margin-top: 15px;
}
.social-media-container ul li {
  display: inline-block;
}
.social-media-container img {
  width: 30px;
  margin: 0px 5px;
  opacity: 0.2;
}
.social-media-container img:hover {
  opacity: 1;
  transition: all 0.3s;
}

.benefits-chart {
  position: relative;
  margin: 30px 0;
}

.benefits-chart .texts > span {
  position: absolute;
  color: #979aae;
  top: 0px;
  font-weight: bolder;
  display: block;
  text-align: center;
  opacity: 0.25;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s;
}

.benefits-chart .texts i {
  font-style: normal;
}

.benefits-chart .texts > span:first-child {
  top: 43%;
  left: 44%;
}
.benefits-chart .texts > span:nth-child(2) {
  top: 61%;
  left: 27.7%;
}
.benefits-chart .texts > span:nth-child(3) {
  top: 45%;
  left: 17%;
}
.benefits-chart .texts > span:nth-child(4) {
  top: 31%;
  left: 25.7%;
}
.benefits-chart .texts > span:nth-child(5) {
  top: 10%;
  left: 44%;
}
.benefits-chart .texts > span:nth-child(6) {
  top: 25%;
  left: 53%;
}
.benefits-chart .texts > span:nth-child(7) {
  top: 63%;
  left: 48%;
  width: 200px;
  line-height: 17px;
}
.benefits-chart .texts > span:nth-child(8) {
  top: 48%;
  left: 64%;
}

.benefits-chart .texts > span.active {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  text-shadow: 1px 1px 8px #fff;
  opacity: 1;
  transition: all 0.3s;
  color: white;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.navbar-toggler {
  display: none;
  background: #4d918b !important;
  outline: none;
}

#main-navigation-container .collapse {
  display: flex;
  justify-content: flex-end;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benefits-chart .texts > span i {
  display: block;
  margin-top: -6px;
}
.benefits-chart .texts > span.active {
  transform: scale(2);
  text-shadow: 1px 1px 8px #fff;
  display: block;
  text-align: center;
}
span.coming-soon,
span.coming-soon > span {
  display: block;
  line-height: 15px;
  font-size: 14px;
  opacity: 0.8;
  font-weight: normal;
}

@media screen and (max-width: 1280px) {
  .price-tickers-container .currency {
    left: 0px;
  }
  .price-tickers-container .row:after {
    left: 24px;
  }
  .introduction-container.introduction-why-container h2 {
    font-size: 54px;
  }
  .introduction-container .introduction h1 {
    font-size: 54px;
  }
  .introduction-container.introduction-how-it-works-container h2 {
    font-size: 54px;
  }
  .introduction-container .introduction p {
    font-size: 18px;
  }
  .submit-token-container h2 {
    font-size: 54px;
  }
  .submit-token-container p {
    font-size: 18px;
  }
  #main-footer h2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .subcription-container {
    bottom: -60px;
  }

  .logo-container img {
    max-width: 200px;
  }
  .top-navigation li a {
    width: 85px;
    font-size: 13px;
    padding: 5px 0px;
    height: 48px;
  }
  ul.main-navigation li a {
    padding: 5px 10px;
    font-size: 15px;
    width: 90px;
    height: 50px;
  }

  .introduction-container {
    padding: 60px 0px 40px;
  }

  .introduction-container.introduction-how-it-works-container {
    /* padding: 30px 0px 40px; */
    overflow-x: hidden;
  }
  .benefits-chart .texts > span.active {
    transform: scale(1.5);
  }

  .other-features-container h2 {
    font-size: 31px;
  }
  .other-features-container p {
    width: 100%;
  }

  .introduction-container.introduction-why-container h2 {
    font-size: 43px;
  }

  .introduction-container .introduction p {
    font-size: 16px;
    width: 100%;
  }
  .introduction-container.introduction-why-container img {
    min-width: 100%;
  }

  section.section.section-price-tickers {
    padding: 30px 0px;
  }

  .price-tickers-container .currency {
    font-size: 19px;
    top: 16px;
    left: -3px;
  }
  .price-tickers-container .price,
  .price-tickers-container .price-market-capital {
    line-height: 18px;
    position: relative;
    top: 3px;
    left: -2px;
  }
  .price-tickers-container .price-change {
    display: block;
    text-align: left;
    color: red;
    font-size: 14px;
    margin-top: 15px;
    left: 6px;
  }
  .price-tickers-container > div:after {
    left: -5px;
  }

  .submit-token-container h2 {
    font-size: 31px;
  }

  .submit-token-container p {
    font-size: 16px;
  }
  .submit-token-container {
    padding: 40px 0px;
  }

  #main-footer h2 {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    margin: 5px 0 0 auto;
    display: block;
    position: absolute;
    right: 1rem;
    top: -50px;
  }

  .navbar-toggler img {
    width: 20px;
  }
  .submit-token-container p {
    font-size: 14px;
  }
  #main-navigation-container .collapse {
    display: block;
  }
  #main-navigation-container .collapse:not(.show) {
    display: none;
  }
  #main-navigation-container .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  #main-navigation-container .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
  }
  ul.main-navigation {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  ul.main-navigation li a {
    width: auto;
  }
  .top-navigation li.big-menu a {
    width: 140px;
    text-align: center;
  }

  .introduction-container .introduction h1 {
    font-size: 34px;
  }

  .subcription-container {
    bottom: -64px;
    width: 200px;
  }
  .subcription-container input {
    font-size: 14px;
  }
  .subcription-container button {
    font-size: 14px;
  }

  .introduction-container.introduction-how-it-works-container h2 {
    font-size: 30px;
  }
  .introduction-container .introduction p {
    font-size: 14px;
  }

  .benefits-chart .texts > span.active {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }

  .other-features-container h2 {
    font-size: 26px;
  }
  .other-features-container p {
    font-size: 14px;
  }
  .other-features-container img {
    width: 37px;
  }

  .introduction-container .introduction .action a {
    padding: 10px 18px;
    font-size: 17px;
  }
  .introduction-container.introduction-why-container h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .submit-token-container .action a {
    padding: 10px 0px;
    width: 100%;
  }

  .price-tickers-container.slick-initialized.slick-slider {
    max-width: 90%;
    margin: 0 auto;
  }
  .price-ticker {
    position: relative;
    top: -9px;
  }

  #main-footer {
    padding: 40px 0px 20px;
  }
  #main-footer .img-fluid {
    max-width: 100%;
  }

  .other-featured-border:after {
    display: none;
  }

  .submit-token-container .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .submit-token-container .action {
    text-align: center;
    margin: 30px auto 50px;
  }

  .social-media-container ul {
    margin-bottom: 30px;
  }

  .social-media-container ul li a {
    transition: color 0.2s;
  }
  .social-media-container ul li a:hover {
    color: #fff !important;
  }
}

@media screen and (max-width: 640px) {
  .top-navigation li.big-menu a {
    width: 170px;
    text-align: center;
  }
  .top-navigation li a {
    width: 127px;
  }
  ul.main-navigation li.big-menu a {
    width: 139px;
  }
  ul.main-navigation li a .join {
    display: block;
    font-size: 9px;
  }
  .introduction-container {
    padding: 40px 0px 30px;
  }

  .other-feature {
    margin-bottom: 30px;
  }

  section.section.section-price-tickers .container {
    position: relative;
    top: 22px;
  }
  section.section.section-price-tickers {
    padding: 0px 0px;
    background-image: none;
  }

  .submit-token-container .action {
    margin-bottom: 30px;
  }
  #main-footer h2,
  #main-footer ul {
    font-size: 13px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
  }

  .navbar-toggler {
    top: -45px;
  }

  #main-navigation-container .logo-container img {
    max-width: 170px;
    margin-top: 7px;
  }

  #main-navigation-container .main-navigation {
    display: flex;
  }

  .top-navigation-container .container {
    width: 100%;
    max-width: 100%;
  }
  .top-navigation {
    text-align: center;
  }
  .top-navigation li {
    display: inline-block;
    width: 23%;
  }
  .top-navigation li a {
    width: 100%;
    height: 35px;
    padding: 0px;
    font-size: 10px;
    line-height: 10px;
  }
  .top-navigation li.big-menu a {
    width: 100%;
  }

  .logo-container img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }

  div#main-navigation-container .container {
    margin: 0px;
    max-width: 100%;
  }
  ul.main-navigation {
    text-align: center;
    margin: 0px 0px;
  }
  ul.main-navigation li {
    display: inline-block;
  }
  ul.main-navigation li a {
    font-size: 12px;
    line-height: 13px;
    height: 40px;
    width: 60px;
  }
  ul.main-navigation li.enable a {
    width: 100%;
    margin-left: 0px;
    position: relative;
    right: 6px;
  }
  ul.main-navigation li.enable:last-child a {
    padding-bottom: 35px;
  }
  ul.main-navigation li {
    width: 16.66%;
  }
  ul.main-navigation li.big-menu a {
    width: 100%;
    position: relative;
    top: 13px;
    left: 0px;
    margin-left: 0px;
  }
  .main-navigation li.big-menu {
    width: 40%;
    position: relative;
    top: -13px;
  }
  ul.main-navigation li.enable.en-menu {
    position: relative;
    top: -13px;
  }
  #main-navigation-container .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
  }
  ul.main-navigation li .text {
    display: block;
    line-height: 12px;
    height: 12px;
  }
  ul.main-navigation li .soon {
    position: relative;
    top: 14px;
    font-size: 9px;
  }

  .introduction-container {
    padding: 30px 0px 20px;
  }
  .introduction-container .introduction h1 {
    font-size: 25px;
  }
  .introduction-container .introduction .action {
    margin-top: 30px;
  }

  .subcription-container {
    bottom: 0px;
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  .introduction-container.introduction-how-it-works-container {
    padding: 50px 0px 30px;
  }

  .benefits-chart .texts > span.active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  .other-features-container h2 {
    font-size: 25px;
  }

  .price-tickers-container.slick-initialized.slick-slider {
    max-width: 75%;
    margin: 0 auto;
  }
  .price-tickers-container .row:after {
    display: none;
  }
}
